#dynamicMdEditor .md-editor-content .md-editor-input-wrapper textarea {
  padding: 1rem;
  border-radius: var(--chakra-radii-xl);
}

#dynamicMdEditor .md-editor-content .md-editor-input-wrapper textarea:focus {
  /*  */
}

#dynamicMdEditor
  .md-editor-content
  .md-editor-input-wrapper
  textarea::-webkit-scrollbar {
  width: 8px;
}

#dynamicMdEditor
  .md-editor-content
  .md-editor-input-wrapper
  textarea::-webkit-scrollbar-track {
  background: RGBA(0, 0, 0, 0.08);
}

#dynamicMdEditor
  .md-editor-content
  .md-editor-input-wrapper
  textarea::-webkit-scrollbar-thumb {
  background-color: RGBA(0, 0, 0, 0.24);
}

#dynamicMdEditor.md-editor {
  min-height: 120px;
  height: auto;
  border: 0;
  border-color: 'transparent';
  border-radius: var(--chakra-radii-xl);
  padding-left: 0;
  padding-right: 0;
}


[placeholder]:empty::before {
  content: attr(placeholder);
  color: #555;
}

[placeholder]:empty:focus::before {
  content: "";
}

#editorRef {
  z-index: 2;
  word-break:break-word;
}

#editorRef::-webkit-scrollbar {
  width: 8px;
  z-index: 1;
}

#editorRef::-webkit-scrollbar-track {
  background: RGBA(0, 0, 0, 0.08);
  border-radius: 20px;
}

#editorRef::-webkit-scrollbar-thumb {
  background-color: RGBA(0, 0, 0, 0.24);
  border-radius: 20px;
}